/**MAIN CONTAINER**/
body {
    width:97%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.main-container {
    display:flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.main-wrapper {
    width: 100%;
}

@media (max-width: 97%) {
  .main-wrapper {
    width: 100%;
  }
  .main-container {
    width: 100%;
  }

  body {
    width: inherit;
  }
}

/**HEADER**/
.main-nav-bar {
    background-color: #343a40;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.text-white-large {
    font-size: large;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

/**HOMEPAGE**/
.homepage-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**SEARCH AREA**/
.home-search-filters {
    background-color: #a8a8a8;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-search-filters select, input, button {
    margin-right: 10px;
}

/**NEWS SECTION**/
.data-table-container {
    background-color: #cccccc;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.data-table-totalresults {
    color: #343a40;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.individual-news {
    width: 300px;
}

.news-image-container {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.news-image-container img {
    height: 225px;
    width: 300px;
    object-fit: cover;
}

.news-details-container {
    color: black;
    background-color: white;
    padding: 5px;
}

.news-details-container button {
    background-color: #343a40;
    color: #d1d1d1;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
}

.news-detail-publisheddate {
    border-top: 1px solid #a8a8a8;
    background-color: #f7f7f7;
    color: #ced1d0;
    padding: 0px 5px 5px;
    font-size: 13px;
}